@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}

@media (width <= 800px) {
body{
    background:var(--color-primario) ;
    width: 100%;
    height: 100vh;    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "logo logo logo logo logo"
    "user user user user user"
    "user user user user user"
    "savings savings assets assets ."
    "menu menu menu menu menu"
    "card card card card card"  
    ;
}

.banner{
    position: absolute;
}

.banner img{
    width: 100%;
    height: 105vh;
    object-fit: cover;
}

.item_1{
    grid-area: logo;
    display: flex;
    font-size: 10px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 0 10px;
}

.item_1 .logo_nombre{
    display: flex;
    align-items: center;
}

.item_1 .logo_nombre img{
    width: 30px;
    padding-right: 5px;
}

.item_1 .logo_nombre h1{
    width: 25px;
    color: var(--color-ternario);
}

.item_1 .menu{
    display: flex;
    align-items: center;
}

.item_1 .menu img{
    width: 30px;
    padding-right: 5px;
}

.item_2{
    grid-area: user;
    display: flex;
    color: var(--color-ternario);
    align-items: center;
    padding-left: 15px;
}
.item_2 .nombre_user h1{
    font-family: "SF-Pro-Text-Heavy";
    font-size: 40px;
}
.item_2 .nombre_user p{
    font-family: "SF-Pro-Text-Light";
    font-size: 30px;
}

.ganancias{
    padding-top: 5px;
    padding-bottom: 10px;
    width: 145%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item_3{
    font-family: "SF-Pro-Text-Medium";
    color: var(--color-ternario);
    grid-area: savings;
}

.item_4{
    font-family: "SF-Pro-Text-Medium";
    color: var(--color-ternario);
    grid-area: assets;
}

progress[value] {
    appearance: none;
    border: none;
    height: .5em;
    border-radius: 10em;
    width: 120px;
}

.item_3 progress[value]::-webkit-progress-bar,
.item_4 progress[value]::-webkit-progress-bar{
    border-radius: 10em;
    height: .5em;
    background: var(--color-ternario);
}

.item_3 progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color-secundario);
}

.item_4 progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color-cuarto);
}

.menu_blanco{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    grid-area: menu;
    width: 100%;
    height: 120%;
    background: var(--color-ternario);
}

.item_5{
    grid-area: card;
    height: 370px;
    display: flex;
    background-color: var(--color-ternario);
    flex-direction: column;
    justify-content: center;
}

.item_5 .activities{
    margin-top: -40px;
    margin-left: 25px;
    font-size: 45px;
    font-family: "SF-Pro-Text-Bold";
}

.cards{
    background-color: var(--color-ternario);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cards img{
    width: 50px;
}

.card_1, .card_2, .card_3{
    display: flex;
    width: 100px;
    height: 150px;
    background: var(--color-ternario);
    box-shadow: 0px 0px 17px 0px rgba(51,64,79,0.59);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-top: 10px;
}

.Transactions{  
    margin-left: 25px;
    font-size: 30px;
    font-family: "SF-Pro-Text-Bold";
}

.Transactions{
    margin-top: 10px;
    font-size: 45px;
    font-family: "SF-Pro-Text-Bold";
}
.item_6 {
    grid-area: trans;
    background: var(--color-ternario);
    height: 105vh;
    display: flex;
    flex-direction: column;
    gap: 15px
}


.item_6 img{
    width: 50px;
    height: 50px;
}

.compras_cards{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100px;
}

.compras_cards_items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.compra_descripcion,
div.compra_valor{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

div.compra_descripcion{
    align-items: flex-start;
}
div.compra_valor{
    align-items: flex-end;
}

.imagen_mas_texto{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item_7{
    background: var(--color-primario);
    margin-top: 1px;
    grid-area: pega;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
}

.item_7 .menu_pegajoso{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.item_7 .menu_pegajoso img{
    display: flex;
    width: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


}