<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Wallet</title>
    <link rel="stylesheet" href="../css/cards.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <div class="logo_icono">
                <img src="../storage/img/Group_2.png" alt="">
            </div>
            <div class="logo__titulo">invento</div>
        </div>
        <div class="header__menu">
            <i class='bx bx-menu'></i>
        </div>
    </header>

    <main class="main"> 
        <h3 class="main_title">investing tips</h3>
        <section class="main_banner">
            <div class="banner_public">
                <div class="public_logo">
                    <div>1</div>
                    <img src="../storage/img/icono0.svg"/>
                </div>
                <div class="public_description">
                    <div class="description_close"><i class='bx bx-x-circle'></i></div>
                    <p>What is an ETF?</p>
                    <small>By James B, PHD</small>
                    <button>learn more</button>
                </div>
            </div>
        </section>
        <h3 class="main_title_2">My cards (4)</h3>
        <section class="main_cards">
            <article class="car_item">
                <samp>**** 6175</samp>
                <h2><sub>$</sub>47,147</h2>
                <img src="../storage/img/visa.svg">
            </article>
            <article class="car_item">
                <samp>**** 6175</samp>
                <h2><sub>$</sub>47,147</h2>
                <img src="../storage/img/visa.svg">
            </article>
            <article class="car_item">
                <samp>**** 6175</samp>
                <h2><sub>$</sub>47,147</h2>
                <img src="../storage/img/visa.svg">
            </article>
            <article class="car_item">
                <samp>**** 6175</samp>
                <h2><sub>$</sub>47,147</h2>
                <img src="../storage/img/visa.svg">
            </article>
            <article class="car_item">
                <samp>**** 6175</samp>
                <h2><sub>$</sub>47,147</h2>
                <img src="../storage/img/visa.svg">
            </article>
        </section>
    </main>

    <footer>
        <ul>
            <li>
                <a href="#"><img src="../storage/img/icon.png" alt=""></a>
            </li>
            <li>
                <a href="cards.html"><img src="../storage/img/icono_selector_cards.png" alt=""></a>
            </li>
            <li>
                <a href="balance.html"><img src="../storage/img/icon-2.png" alt=""></a>
            </li>
            <li>
                <a href=""><img src="../storage/img/icon-3.png" alt=""></a>
            </li>
            <li>
                <a href="/index.html"><img src="../storage/img/user_normal.png" alt=""></a>
            </li>

        </ul>
    </footer>
</body>
</html>